@import '~cropperjs/src/css/cropper.scss';

.fake-image {
  width: 100% !important;
  height: 100% !important;
  max-width: 100% !important;
  max-height: 100% !important;
  min-width: 100% !important;
  min-height: 100% !important;
}

.fake-image-pos {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.fake-image-container {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 2147483647 !important;
}
